.search-bar {
  padding: 1em 2em;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #d1d5db;
  border-radius: 0.5em;
}

.project-card {
  max-width: 800px;
  width: 100%;
  padding: 0.5em 2em 2em 2em;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border: 2px solid #d1d5db;
}

.project-card > hr {
  border: 1px solid #d1d5db;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.project-information,
.img-container {
  flex: 1;
}

.img-container {
  border-radius: 4px;
  padding: 1em 0;
}

img {
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.8s ease-in;
}

img:hover {
  transform: scale(2);
}

p {
  color: #4b5563;
}

p > span {
  color: #1f2937;
  font-weight: 700;
}

h2,
p,
.btn-container {
  padding: 1em 0;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-container > a,
.project-header > button {
  background-color: #2563eb;
  color: #fff;
  border: none;
  text-decoration: none;
  margin: 0.5em 0;
  padding: 0.8em 1.6em;
  border-radius: 0.5em;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn-container > a:hover,
.project-header > button:hover {
  background-color: #4278ec;
}

.btn-container > a:active,
.project-header > button:active {
  background-color: #1d4ed8;
  position: relative;
  top: 2px;
}
